<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @concert.datetime %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @concert.duration %>
</p>

<p>
  <strong>Assitants:</strong>
  <%= @concert.assitants %>
</p>

<p>
  <strong>Band:</strong>
  <%= @bands.find_by(id: @concert.band_id).name %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
